
// Write Your Css
// LESS related
@import "variables.less";
@import "mixins.less";


// widget - liveapp
.ui-liveapp{
	top:49px;
	margin-bottom: -50px;
	// widget - slide 
	.ui-slide.ui-slide-btn{
		.next,.prev{background: rgba(255, 255, 255, 0);
			&:before{border-color: #A8A8A8;opacity: 0.5;}
		}
		.ui-slide-hd{
			bottom: 100px;
			li {
				width: 8px;
				height: 8px;
				border-width: 0;
				margin-left: 8px;
			}
		}
	}
	.ui-liveapp-page {
		.txt {
			width: 100%;
			padding:0 30px;
			text-align: center;
			p,h1{margin-bottom: 10px;}
		}
		.goods {
			width: 100%;
			position: absolute;
			img{width: 100%;}
		}
		.tt2{color: #A6A6A6;}
		&.ui-liveapp-page1 {
			background: #1D1D1D;
			.txt{color: #fff;padding: 0;}
			.tt{color:rgb(0, 215, 216);}
			.intro1 {
				margin-top: 20px;
				font-size: 12px;
			}
			.intro2 {
				font-size: 12px;
			}
			.intro3{
				width: 100px;
				font-size: 16px;
				padding: 0;
				margin: 0 auto;
				color: #00d7d8;
				border-radius: 3px;
				line-height: 40px;
				border: 1px solid #00d7d8;
			}
			.intro4{font-size: 12px;}
			.goods{bottom: 10%;}
		}
		&.ui-liveapp-page2 {
			background: rgb(244, 247, 247);
			.tt{margin-top:20px;}
			.intro1{margin-top:20px;font-size: 12px;}
			.goods{bottom: 30%;}
			.goods-3{bottom: 15%;}
		}
		&.ui-liveapp-page3 {
			background: rgb(255, 255, 255);
			.tt{margin-top:20px;}
			.tt3{font-size: 14px;margin-top:20px;}
			.intro1{margin-top:20px;font-size: 12px;}
			.goods{bottom: 30%;}
			.goods-2{top: 0%;}
		}
		&.ui-liveapp-page4 {
			background: rgb(244, 247, 247);
			.tt{margin-top:20px;}
			.intro1{margin-top:20px;font-size: 12px;}
			.goods{bottom: 30%;}
		}
		&.ui-liveapp-page5 {
			background: rgb(255,255,255);
			.tt{margin-top:20px;color: #00d7d8;}
			.tt3{margin-top:20px;color:#000;}
			.intro1{margin-top:20px;font-size: 12px;}
			.goods{bottom: 30%;}
			.goods-2{bottom: 10%;}
		}
		&.ui-liveapp-page6 {
			background: rgb(255,255,255);
			.tt{margin-top:20px;}
			.intro1{margin-top:20px;font-size: 12px;}
			.goods{bottom: 10%;}
		}
	}
}

// widget - header
.ui-header-default {
	background: rgba(255, 255, 255, .9);
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #c3c3c3;
	.ui-header-nav > a{color: #000;}
	.btn-arrow{.arrow(#000,10px,2px,135deg)}
}

// widget - menu
.ui-menu{
	top:50px;
	position: fixed;
	// transform:scaleY(0);
	height: 0;
	overflow: hidden;
	.ui-menu-nav {
		background: #3390e3;
		box-shadow: 0 0 0;
		.z-active > a:before{border-bottom-color: #fff;}
		> .nav-item > a{
			color: #fff;
		}
	}
}

// webview 车型列表
.c-carlist{
	position: relative;
	background: #DBDBDB;
	top:50px;
	.brand-box{
		margin-bottom: 10px;
		background: #fff;
		.flexbox;
		.name{
			// ---文字水平垂直居中---
			justify-content:center;
			align-items:center;
			display: flex;
			// --- end ---
			width: 80px;
			padding: 0;
			margin: 0;
			border-right: 1px solid #dcdcdc;
			font-size: 14px;
		}
		.model{
			.flex(1);
			overflow: hidden;
			padding: 0;
			margin: 0;
			text-align: center;
			font-size: 12px;
			li{
				.text-overflow();
				margin-bottom: -1px;
				margin-right: 0px;
				padding: 10px 0;
				border-right: #dcdcdc dotted 1px;
				border-bottom: #dcdcdc dotted 1px;
			}
		}
	}
}
// 常见问题,安装说明
.c-question,.c-install{
	top:50px;
	position: relative;
	padding: 20px 15px;
	h1{
		font-size: 16px;
	}
	p{
		font-size: 14px;
	}
	.step{
		.flexbox;
		.txt{
			.flex(1);
			display: flex;
			padding: 0 10px;
			align-items:center;
			justify-content:center;
		}
		.pic{
			img{width: 100%;}
			.flex(1);
		}
	}
}
