<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>爱车挣 适配车型</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
  <link rel="apple-touch-icon" href="../../assets/img/favicon.png">
  <link rel="stylesheet" href="../../assets/css/yecui.css">
  <link rel="stylesheet" href="../../assets/css/app.css">
</head>
<body>
	<!-- weixin share -->
	<div id="wx_pic" style="margin:0 auto;display:none;">
		<img src="../../assets/img/favicon.png">
	</div>

	<!-- Loading -->
	<div id="J_loading" class="ui-loading f-hide">
		<div class="ui-loading-box ui-loading-box-piano">
			<div class="piano-key">
				<div class="key1"></div>
				<div class="key2"></div>
				<div class="key3"></div>
				<div class="key4"></div>
				<div class="key5"></div>
			</div>
		</div>
	</div>


	<!-- Header -->
	<header data-widget="header" class="ui-header ui-header-default   ui-header-fixed">
		<div class="ui-header-left ui-header-nav">
			<a href="#" class="">
				<i class="icons icons-back"></i>
			</a>
		</div>
		<h1 class="ui-header-title">
			<img src="../../assets/img/logo.png" alt="">
		</h1>
		<div class="ui-header-right ui-header-nav">
			<a href="#" class="" id="J_menu" data-status="off">
				<i class="btn-arrow"></i>
			</a>
		</div>
	</header>

	<!-- Menu -->
	<nav data-widget="menu" class="ui-menu ui-menu-one">
		<ul class="ui-menu-nav">
			<li class="nav-item">
				<a href="index.html">首页</a>
			</li>
			<li class="nav-item z-active">
				<a href="carlist.html">适配车型</a>
			</li>
			<li class="nav-item">
				<a href="question.html">场景问题</a>
			</li>
			<li class="nav-item">
				<a href="install.html">安装说明</a>
			</li>
		</ul>
	</nav>
	<section class="c-carlist">
			<div class="brand-box">
				<div class="name">东风本田</div>
				<div class="model">
					<ul class="rowavg-sm-3">
						<li>艾力绅</li>
						<li>本田CR-V</li>
						<li>杰德</li>
						<li>思铂睿</li>
						<li>思域</li>
					</ul>
				</div>
			</div>
			<div class="brand-box">
				<div class="name">广汽本田</div>
				<div class="model">
					<ul class="rowavg-sm-3">
						<li>奥德赛</li>
						<li>飞度</li>
						<li>锋范</li>
						<li>歌诗图</li>
						<li>雅阁</li>
						<li>缤智</li>
						<li>缤智</li>
					</ul>
				</div>
			</div>
			<div class="brand-box">
				<div class="name">别克</div>
				<div class="model">
					<ul class="rowavg-sm-3">
						<li>别克GL8</li>
						<li>君威</li>
						<li>君越</li>
						<li>凯越</li>
						<li>英朗</li>
						<li>昂科拉</li>
						<li>昂科威</li>
						<li>昂科雷</li>
						<li>锋范</li>
						<li>歌诗图</li>
						<li>雅阁</li>
						<li>缤智</li>
						<li>缤智</li>
					</ul>
				</div>
			</div>
			<div class="brand-box">
				<div class="name">上海大众</div>
				<div class="model">
					<ul class="rowavg-sm-3">
						<li>大众Polo	</li>
						<li>朗境</li>
						<li>朗行</li>
						<li>朗逸</li>
						<li>新桑塔纳</li>
						<li>途观</li>
						<li>帕萨特</li>
						<li>帕萨特领驭</li>
					</ul>
				</div>
			</div>
			<div class="brand-box">
				<div class="name">一汽大众</div>
				<div class="model">
					<ul class="rowavg-sm-3">
						<li>宝来</li>
						<li>大众CC</li>
						<li>高尔夫</li>
						<li>新捷达</li>
						<li>迈腾</li>
						<li>速腾</li>
					</ul>
				</div>
			</div>
			<div class="brand-box">
				<div class="name">广汽丰田</div>
				<div class="model">
					<ul class="rowavg-sm-3">
						<li>YARiSL致炫</li>
						<li>汉兰达</li>
						<li>凯美瑞</li>
						<li>雷凌</li>
						<li>逸致</li>
						<li>威飒</li>
					</ul>
				</div>
			</div>
			<div class="brand-box">
				<div class="name">一汽丰田</div>
				<div class="model">
					<ul class="rowavg-sm-3">
						<li>丰田RAV4</li>
						<li>花冠</li>
						<li>皇冠</li>
						<li>卡罗拉</li>
						<li>锐志</li>
						<li>威驰</li>
					</ul>
				</div>
			</div>
			<div class="brand-box">
				<div class="name">东风日产</div>
				<div class="model">
					<ul class="rowavg-sm-3">
						<li>玛驰</li>
						<li>奇骏</li>
						<li>天籁</li>
						<li>轩逸</li>
						<li>阳光</li>
						<li>骊威</li>
						<li>骐达</li>
						<li>楼兰</li>
					</ul>
				</div>
			</div>
			<div class="brand-box">
				<div class="name">雪佛兰</div>
				<div class="model">
					<ul class="rowavg-sm-3">
						<li>爱唯欧</li>
						<li>创酷TRAX</li>
						<li>景程</li>
						<li>科鲁兹</li>
						<li>科帕奇</li>
						<li>迈锐宝</li>
						<li>新赛欧</li>
					</ul>
				</div>
			</div>
		
	</section>
	

</body>
<script type="text/javascript" src="../../assets/js/lib/zepto.js"></script>
<script type="text/javascript" src="../../assets/js/app/ui.common.js"></script>

</html>