<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>爱车挣 常见问题</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
  <link rel="apple-touch-icon" href="../../assets/img/favicon.png">
  <link rel="stylesheet" href="../../assets/css/yecui.css">
  <link rel="stylesheet" href="../../assets/css/app.css">
</head>
<body>


	<!-- Header -->
	<header data-widget="header" class="ui-header ui-header-default   ui-header-fixed">
		<div class="ui-header-left ui-header-nav">
			<a href="#" class="">
				<i class="icons icons-back"></i>
			</a>
		</div>
		<h1 class="ui-header-title">
			<img src="../../assets/img/logo.png" alt="">
		</h1>
		<div class="ui-header-right ui-header-nav">
			<a href="#" class="" id="J_menu" data-status="off">
				<i class="btn-arrow"></i>
			</a>
		</div>
	</header>

	<!-- Menu -->
	<nav data-widget="menu" class="ui-menu ui-menu-one">
		<ul class="ui-menu-nav">
			<li class="nav-item">
				<a href="index.html">首页</a>
			</li>
			<li class="nav-item">
				<a href="carlist.html">适配车型</a>
			</li>
			<li class="nav-item  z-active">
				<a href="question.html">场景问题</a>
			</li>
			<li class="nav-item">
				<a href="install.html">安装说明</a>
			</li>
		</ul>
	</nav>
	<section class="c-question">
		<h1>1.车挣要怎么安装？安装麻烦吗？</h1>	
		<p>我们最大限度降低您的操作步骤，只需3步，几分钟就能安装完毕。具体操作步骤请参见 安装说明 。</p>
		<h1>2.车挣盒子的出厂标配是那些？</h1>	
		<p>车挣盒子1个、OBD延长线1根、SIM卡1张（已插入盒子）、安装说明1份、外盒包装1套。</p>
		<h1>3.车挣盒子的SIM卡要额外收费吗？</h1>	
		<p>不用。包括SIM卡本身工本费，以及流量费用，都由车挣承担。
			只要您的盒子在正常持续使用，之后每个月的流量费用，也都由车挣承担。
			但是，如果我们监测到异常状态，会在后台停止SIM工作，这样车挣盒子也就无法继续工作了。所以，请勿将盒子里自带的SIM卡拔出另用。
		</p>	
		<h1>4.车挣盒子会耗电吗？</h1>
		<p>车挣盒子是通过OBD接口由车载电瓶供电的。
		点火工作状态下的功耗是120mA，熄火后将进入休眠状态，熄火后的功耗是10mA。
		</p>
		<h1>5.车挣盒子安全吗？</h1>
		<p>首先，车挣盒子自身不带电源，所以不会有充电发热的问题。
		其次，车挣盒子只读取数据、不写入数据，所以不会对车辆产生安全隐患。
		最后，车挣盒子的服务器不保留用户的GPS位置信息，所以这一块的安全，你懂的。
		</p>
		<h1>6.车挣盒子的售后服务是怎样的？</h1>
		<p>我们为车挣盒子提供三年质保，相关质保细则与售后条款，您可以在车挣的官网获得。
		另外，我们还提供在线微信客服和400客服。
		</p>

	</section>
	

</body>
<script type="text/javascript" src="../../assets/js/lib/zepto.js"></script>
<script type="text/javascript" src="../../assets/js/app/ui.common.js"></script>

</html>