/*
//----------------------------------------------------------------------------
// - 盒模型              18

    .clearfix           清除浮动
    .center-block       居中 相当于margin:0 auto
    .size(px;px)        宽高不同
    .square(px)         宽高相等的正方形
    .resizable          (none|both|horizontal|vertical)
                        规定用户是否可以调整元素尺寸
    .scrollable         元素滚动回弹效果'暂时只支持safair'


// - 排版                72

    .text-overflow(display|inline-block)        单行文字截取
    .text-hide                                  就隐藏文字
    .line-clamp(num,line-height)                多行文字截取,(行数,行高)

// - Visual             117

    .tab-focus                    焦点状态
    .border-[t|r|b|l]-radius(px)  边框圆角[top|right|bottom|left](圆角大小)
    .opacity(num)                 透明度

// - Flex Box           159

    .flexbox(flex|inline-flex)  弹性布局父元素
    .flex(num)弹性布局子元素
    >>>TODO 其他flex以后完善,感觉作用不大,就是加了前缀

// - 箭头               317

    .caret-[d|u|l|r](px,color)                              三角形方向[down|up|left|right](大小,颜色),如果是before,after需要content
    .arrow(color,px,px,deg)                                 箭头> (颜色,长度,宽度,方向),默认右45deg,下135,上-45,左-135
    .angle-base                                 
    .angle-[u|d|l|r]-variant(color,color,px)                带边框边框的三角形[up|down|left|right](边框色,背景色,大小),要配合上面base

// - 元件               493
// - 公共的             634
// - 渐变               709
// - CSS3 前缀          814
// - 其他               1010

  .retina-bg-img(@file-1x; @file-2x; @width-1x; @height-1x) 需要做retina适应的背景图

//---------------------------------------------------------------------------
*/
.ui-liveapp {
  top: 49px;
  margin-bottom: -50px;
}
.ui-liveapp .ui-slide.ui-slide-btn .next,
.ui-liveapp .ui-slide.ui-slide-btn .prev {
  background: rgba(255, 255, 255, 0);
}
.ui-liveapp .ui-slide.ui-slide-btn .next:before,
.ui-liveapp .ui-slide.ui-slide-btn .prev:before {
  border-color: #A8A8A8;
  opacity: 0.5;
}
.ui-liveapp .ui-slide.ui-slide-btn .ui-slide-hd {
  bottom: 100px;
}
.ui-liveapp .ui-slide.ui-slide-btn .ui-slide-hd li {
  width: 8px;
  height: 8px;
  border-width: 0;
  margin-left: 8px;
}
.ui-liveapp .ui-liveapp-page .txt {
  width: 100%;
  padding: 0 30px;
  text-align: center;
}
.ui-liveapp .ui-liveapp-page .txt p,
.ui-liveapp .ui-liveapp-page .txt h1 {
  margin-bottom: 10px;
}
.ui-liveapp .ui-liveapp-page .goods {
  width: 100%;
  position: absolute;
}
.ui-liveapp .ui-liveapp-page .goods img {
  width: 100%;
}
.ui-liveapp .ui-liveapp-page .tt2 {
  color: #A6A6A6;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page1 {
  background: #1D1D1D;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page1 .txt {
  color: #fff;
  padding: 0;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page1 .tt {
  color: #00d7d8;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page1 .intro1 {
  margin-top: 20px;
  font-size: 12px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page1 .intro2 {
  font-size: 12px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page1 .intro3 {
  width: 100px;
  font-size: 16px;
  padding: 0;
  margin: 0 auto;
  color: #00d7d8;
  border-radius: 3px;
  line-height: 40px;
  border: 1px solid #00d7d8;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page1 .intro4 {
  font-size: 12px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page1 .goods {
  bottom: 10%;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page2 {
  background: #f4f7f7;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page2 .tt {
  margin-top: 20px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page2 .intro1 {
  margin-top: 20px;
  font-size: 12px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page2 .goods {
  bottom: 30%;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page2 .goods-3 {
  bottom: 15%;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page3 {
  background: #ffffff;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page3 .tt {
  margin-top: 20px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page3 .tt3 {
  font-size: 14px;
  margin-top: 20px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page3 .intro1 {
  margin-top: 20px;
  font-size: 12px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page3 .goods {
  bottom: 30%;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page3 .goods-2 {
  top: 0%;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page4 {
  background: #f4f7f7;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page4 .tt {
  margin-top: 20px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page4 .intro1 {
  margin-top: 20px;
  font-size: 12px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page4 .goods {
  bottom: 30%;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page5 {
  background: #ffffff;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page5 .tt {
  margin-top: 20px;
  color: #00d7d8;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page5 .tt3 {
  margin-top: 20px;
  color: #000;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page5 .intro1 {
  margin-top: 20px;
  font-size: 12px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page5 .goods {
  bottom: 30%;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page5 .goods-2 {
  bottom: 10%;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page6 {
  background: #ffffff;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page6 .tt {
  margin-top: 20px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page6 .intro1 {
  margin-top: 20px;
  font-size: 12px;
}
.ui-liveapp .ui-liveapp-page.ui-liveapp-page6 .goods {
  bottom: 10%;
}
.ui-header-default {
  background: rgba(255, 255, 255, 0.9);
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #c3c3c3;
}
.ui-header-default .ui-header-nav > a {
  color: #000;
}
.ui-header-default .btn-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: #000000 solid;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.ui-menu {
  top: 50px;
  position: fixed;
  height: 0;
  overflow: hidden;
}
.ui-menu .ui-menu-nav {
  background: #3390e3;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.ui-menu .ui-menu-nav .z-active > a:before {
  border-bottom-color: #fff;
}
.ui-menu .ui-menu-nav > .nav-item > a {
  color: #fff;
}
.c-carlist {
  position: relative;
  background: #DBDBDB;
  top: 50px;
}
.c-carlist .brand-box {
  margin-bottom: 10px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.c-carlist .brand-box .name {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  padding: 0;
  margin: 0;
  border-right: 1px solid #dcdcdc;
  font-size: 14px;
}
.c-carlist .brand-box .model {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
}
.c-carlist .brand-box .model li {
  display: block;
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: -1px;
  margin-right: 0px;
  padding: 10px 0;
  border-right: #dcdcdc dotted 1px;
  border-bottom: #dcdcdc dotted 1px;
}
.c-question,
.c-install {
  top: 50px;
  position: relative;
  padding: 20px 15px;
}
.c-question h1,
.c-install h1 {
  font-size: 16px;
}
.c-question p,
.c-install p {
  font-size: 14px;
}
.c-question .step,
.c-install .step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.c-question .step .txt,
.c-install .step .txt {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.c-question .step .pic,
.c-install .step .pic {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.c-question .step .pic img,
.c-install .step .pic img {
  width: 100%;
}
